on: pull_request
name: Pull Request Workflow
jobs:
  runTests:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [10, 12, 14]
    steps:
      - uses: actions/checkout@v2
      - name: npm cache
        id: npm-cache
        uses: actions/cache@v2.1.4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Use Node.js version ${{ matrix.node_version }}
        uses: actions/setup-node@v2.1.4
        with:
          node-version: ${{ matrix.node_version }}
      - name: Execute tests
        run: npm cit
  automerge:
    runs-on: ubuntu-latest
    needs: runTests
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: automerge
        uses: pascalgn/automerge-action@v0.13.0
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          MERGE_METHOD: 'rebase'
          MERGE_LABELS: 'dependencies'
  CodeQL-Build:
    runs-on: ubuntu-latest
    needs: runTests
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 5
      - run: git checkout HEAD^2
        if: ${{ github.event_name == 'pull_request' }}
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: javascript
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1
  OSSAR-Scan:
    runs-on: windows-latest
    needs: runTests
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 5
      - run: git checkout HEAD^2
        if: ${{ github.event_name == 'pull_request' }}
      - name: Install .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.201'
      - name: Run OSSAR
        uses: github/ossar-action@v1
        id: ossar
      - name: Upload OSSAR results
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: ${{ steps.ossar.outputs.sarifFile }}
